<h1>{{title}}</h1>
<br>
<br>
<style>
  table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 10px;
    text-align: center;
  }
</style>
<table>
  <tr>
    <td>Sr.</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>Email</td>
  </tr>
  <ng-container *ngFor="let user of usersList; let index=index">
    <tr>
      <td>{{index+1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
      <td>{{user.email}}</td>
    </tr>
  </ng-container>
</table>
<!-- <br>
<br>
<table class="fixed">
  <col width="20px" />
  <col width="30px" />
  <col width="40px" />
  <tr>
      <td>text</td>
      <td>text</td>
      <td>text</td>
  </tr>
</table> -->